h3:hover{
   color: red; border-style: solid;
}

div:first-of-type{
   color: aqua;
}

div:nth-child(4){
   color: green;
}

div:nth-last-of-type(3){
   color: greenyellow; font-size: x-large;
}

div:nth-last-of-type(1){
   color: blueviolet;
}

div:nth-last-of-type(2){
   color: crimson;
}

h3:nth-last-of-type(3n){
   font-size: small
}


h3:nth-child(odd){
   font-style: italic;
}
